@font-face {
  font-family: "Futura Md BT";
  src: url("./../fonts/futura\ medium\ bt.ttf") format("opentype");
}

@font-face {
  font-family: "Futura Lt BT";
  src: url("./../fonts/futura\ light\ bt.ttf") format("opentype");
}
