@import "fonts.scss";
@import "variables.scss";
html,
body {
  height: 100%;
  font-family: "Aileron";
  padding: 0;
  margin: 0;
}
.full-height {
  height: 100% !important;
}
.section-page {
  height: 100%;
  margin-bottom: 0 !important;
  background: var(--k-tertiary);
  display: grid;
  align-items: center;
}
#content-1 {
  background: url("../img/filosofos3.png"), var(--k-primary);
  background-position: bottom right;
  background-size: contain;
  background-blend-mode: color-burn;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  display: grid;
  overflow: auto;
  #content-info {
    padding: 5%;
    margin-top: auto;
    margin-bottom: auto;
  }
  #links {
    margin-top: 2em;
    div{
      margin-bottom: 5px;
    }
    a {
      color: var(--k-color-primary);
      font-size: 20px;            
    }
  }
}
.img-link {
  width: 28px;
}
#content-my-photo {
  text-align: left;
  display: flex;
  #my-photo {
    max-height: 150px;
    margin-top: auto;
    margin-bottom: auto;
  }
}

.my-info {
  color: var(--k-color-primary);
  #text-hello {
    font-size: 18px;
    letter-spacing: 10px;
    font-weight: 500;
  }
  #my-name {
    font-size: 60px;
    line-height: 60px;
    letter-spacing: 10px;
  }
  #about-me {
    font-size: 22px;
    color: var(--k-secondary);
    font-weight: 600;
  }
}


#content-pengui{
  display: flex;
  justify-content: center;
  padding-top: 2em;
  padding-bottom: 2em;
  #description-pengui{    
    padding-top: 2em;
    padding-bottom: 2em;
    max-width: 210px;
    text-align: left;
    padding-left: 20px;
    border-left: 1px solid #000;
  }
}
#image-pengui{
  background-image: url('../img/pengui.jpg');
  width: 100px;
  height: 100px;
  background-position: center;
  background-size: cover;
  border-radius: 100%;
  margin-right: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

.links-pengui{
  margin-bottom: 5px;
  a{
    color: var(--k-primary) !important;
    font-size: 18px;   
  }
}